<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>


<form action="/uploadImg" id="uploadform" method="post" enctype="multipart/form-data">

    <p>
        <input type="file" id="file" name="file">
        <input type="submit" id="upload" value="上传">
    </p>

</form>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $("#uploadform").submit(function(){
        var file = $("#file").val();
        if(file==""){
            alert("请选择文件!");
            return false;
        }
        var perfix = file.substring(file.lastIndexOf("."));
        if(perfix!=".jpg"&&perfix!=".jpeg"&&perfix!=".png"&&perfix!=".gif"){
            alert("文件的格式不正确,请选择jpg、jpeg、png、gif格式图片!");
            return false;
        }

    });

</script>
</body>
</html>