<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>

<form action="/uploadImg" id="uploadform" method="post" enctype="multipart/form-data">
    <p>
        <input type="file" id="file" name="file">
    </p>
    <p>
        <input type="button" id="upload" value="上传">
    </p>
</form>
<div id="target">
    <img src="" alt="">
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $('#upload').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        var file = $("#file").val();
        var perfix = file.substring(file.lastIndexOf("."));
        var formData = new FormData();
        var nowDate = new Date();
        if(file==""){
            alert("请选择文件!");
            return false;
        }
        if(perfix!=".jpg"&&perfix!=".jpeg"&&perfix!=".png"&&perfix!=".gif"){
            alert("文件的格式不正确,请选择jpg、jpeg、png、gif格式图片!");
            return false;
        }
        formData.append( 'file', $('#file')[0].files[0] );
        $.ajax({
            url: '/uploadImg',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                var imgUrl = 'http://edm.focuschina.com/MICEN/'+ nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+  data.name;
                $('#target').html('').append('<img src ="'+imgUrl+'">');
            }
        });
    })

</script>
</body>
</html>