<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CrazyGI</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/libs/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="img-box">
            <img v-bind:src="imgSrc" alt="">
        </div>
        <div class="answer-box">
            <ul>
                hehe
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    <script type="text/javascript" src="js/crazyGI.js"></script>
</body>
</html>