
$z-in: 100000;


.func-tour{
    display: none;
    .ft-cover{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: #{$z-in - 2};
        background: #000;
        opacity: .7;
        filter: alpha(opacity=70);
    }
    .ft-layer{
        position: absolute;
        z-index: #{$z-in - 1};
        background: #fff;
        transition: all .4s;
    }
    .ft-highlight{
        width: 100%;
        height: 100%;
        z-index: #{$z-in + 1};
        background: transparent;
    }
    .ft-box{
        position: absolute;
        top: -10px;
        left:-10px;
        width:100%;
        background: transparent;
        height: 100%;
        padding: 9px;
        border: 1px dashed #fff;
        z-index: #{$z-in + 1};
        .ft-close{
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            top: -9px;
            right: -9px;
            color: #555;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            margin: 0;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            z-index: #{$z-in + 3};
        }
        .ft-inner{
            position: absolute;
            color: #fff;
            width:250px;
            .ft-words{
                width: 210px;
                padding:0 20px;
            }
            .ft-arr{
                height: 80px;
                width: 80px;
                background: url("../img/funcTour/arr.png") no-repeat;
            }
            .ft-txt{
                margin: 0;
                font-size: 14px;
                line-height: 24px;
            }
            .ft-btnwrap{
                margin-top: 10px;
            }
            .tour-btn{
                float: left;
                height:30px;
                margin: 0 10px 0 0;
                padding: 0 15px;
                font-size: 12px;
                line-height: 30px;
                text-align: center;
                background: #f5f7fa;
                border:0;
                color: #222;
                border-radius: 3px;
            }
            .ft-close{
                position: relative;
                top:auto;
                right: auto;
                width: auto;
            }
            .main-btn{
                background: #e64545;
                color: #fff;
            }
            .tour-dot{
                float: left;
                height: 30px;
                i{
                    float: left;
                    width: 4px;
                    height: 4px;
                    border: 1px solid #ced3d9;
                    margin: 12px 5px 0 0;
                    border-radius: 50%;
                    cursor: pointer;
                }
                i.on{
                    background: #ced3d9;
                }
            }
        }
        .ft-dir-cb{
            top:100%;
            left: 50%;
            margin-left: -125px;
            .ft-arr{
                margin: 0 auto;
            }
        }
        .ft-dir-ct{
            bottom:100%;
            left: 50%;
            margin-left: -125px;
            .ft-arr{
                margin: 0 auto;
                background-position: -80px 0;
            }
        }
        .ft-dir-lt{
            bottom: 100%;
            left: -250px;
            .ft-arr{
                position: relative;
                left: 100%;
                margin-left: -80px;
                background-position: -160px 0;
            }
        }
        .ft-dir-lc{
            right: 100%;
            width: 290px;
            top: 50%;
            margin-top: -40px;
            .ft-arr{
                float: right;
                background-position: -240px 0;
            }
            .ft-words{
                padding: 0;
                float: left;
            }
        }
        .ft-dir-lb{
            top:100%;
            left: -250px;
            .ft-arr{
                position: relative;
                left: 100%;
                margin-left: -80px;
                background-position: 0 -80px;
            }
        }
        .ft-dir-rt{
            bottom: 100%;
            right: -250px;
            .ft-arr{
                background-position: -80px -80px;
            }
        }
        .ft-dir-rc{
            left: 100%;
            width: 290px;
            top: 50%;
            margin-top: -40px;
            .ft-arr{
                float: left;
                background-position: -160px -80px;
            }
            .ft-words{
                float: right;
                padding: 0;
            }
        }
        .ft-dir-rb{
            top:100%;
            right: -250px;
            .ft-arr{
                background-position: -240px -80px;
            }
        }
    }
}

