
$steps-clr-ed:              #00bf00;
$steps-clr-normal:          #ced3d9;
$steps-clr-ing:             #009900;
$steps-clr-normal-hover:    #b6babf;
$steps-clr-ed-hover:        #00a600;

.steps{
    margin: 30px -10px;
    .steps-item{
        float: left;
        min-height:15px;
        position: relative;
        .dot,.line{
            display: block;
            position: absolute;
            left: 50%;
            background: $steps-clr-normal;
        }
        .dot{
            top:0;
            width: 15px;
            height: 15px;
            margin: 0 0 0 -7.5px;
            border-radius: 50%;
            z-index: 2;
        }
        .line{
            top:7px;
            width: 100%;
            height: 2px;
            z-index: 1;
        }
        .txt-box{
            padding: 25px 10px 0;
            font-size: 14px;
            text-align: center;
            color: #b2b2b2;
        }
    }
    .step-ed{
        .dot,.line{
            background: $steps-clr-ed;
        }
        .txt-box{
            color: #555;
        }
    }
    .step-ing{
        .dot{
            background: $steps-clr-ed;
        }
        .txt-box{
            color: #555;
        }
    }

}

$steps : 2;
@for $i from 2 to 7 {
    .steps-#{$i}{
        .steps-item{
            width: 100%/$i;
        }
    }
    $steps: $steps + 1;
}

.steps-big{
    .steps-item{
        min-height: 30px;
        .dot{
            width: 26px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            font-size: 18px;
            color: $steps-clr-normal;
            background: #fff;
            border: 2px solid $steps-clr-normal;
            margin: 0 0 0 -15px;
            text-decoration: none;
            &:hover{
                color: $steps-clr-normal-hover;
                border-color: $steps-clr-normal-hover;
            }
        }
        .line{
            top: 14px;
        }
        .txt-box{
            padding-top: 40px;
        }
    }
    .step-ed{
        .dot{
            background: $steps-clr-ed;
            border-color: $steps-clr-ed;
            color: #fff;
            &:hover{
                background: $steps-clr-ed-hover;
                border-color: $steps-clr-ed-hover;
                color: #fff;
            }
        }
    }
    .step-ing{
        .dot,.dot:hover{
            background: $steps-clr-ing;
            border-color: $steps-clr-ing;
            color: #fff;
        }
    }
}

