@import "_base";
@import "components/_table";
@import "components/_pager";
@import "components/_step";
@import "components/_funcTour";

.box{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.box h2{
    padding: 10px;
}
.box h3{
    padding: 10px;
    background: #C7E3D1;
}
.box table{
    margin: 30px 0;
}

