table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    th{
        font-weight: bold;
        text-align: left;
    }
    th,td{
        padding: 10px;
        word-wrap: break-word;
    }
}
.table-base{
    width: 100%;
    td{
        border-bottom:1px solid #dae0e6;
    }
    th{
        border-bottom: 1px solid #ced3d9;
    }
}

.table-normal{
    width: 100%;
    td{
        border:1px solid #dae0e6;
    }
    th{
        border: 1px solid #ced3d9;
        background: #f5f7fa;
    }
}

.table-stripe{
    &.table-normal{
        tr:nth-child(2n - 1) td{
            background: #f5f7fa;
        }
    }
    &.table-base{
        tr:nth-child(2n) td{
            background: #f5f7fa;
        }
    }
}








/*
    *@module: table only for miracle
    *@Author: juhailin 2015-05-26
*/





.table-none{
    width:100%;
    border:none;
    word-wrap:break-word;
    td,th{
        border: 0;
        padding: 11px 5px;
        vertical-align: middle;
        background: none!important;
    }
    th{
        font-weight: normal;
    }
    td{
    }
    .btn{
        margin-right: 10px;
    }

}

.table-tfoot{
    background: #f5f7fa!important;
}



.table-border{
    width: 100%;
    border: 1px solid #ced3d9;
    word-wrap: break-word;
    table-layout: fixed;
    background: #fff;
    tr:hover {
        background: #fafbfc;
    }
    td{
        padding:9px 10px;
        border: 1px solid #dae0e6;
    }
    th{
        padding:9px 10px;
        background: #f5f7fa;
        color: #222;
        font-weight: bolder;
        border: 1px solid #ced3d9;
    }
    .with-input {
        padding: 5px 10px;
    }
    .tr-selected {
        background: #f2f9ff;
        &:hover {
            background: #e6ecf2;
        }
    }
    .table-none{
        td,th{
            font-weight: normal;
            border: 0;
            padding: 4px 5px;
            vertical-align: top;
        }
        th{
            vertical-align: top;
            padding-top: 9px;
            &.texts{
                padding-top: 3px;
            }
        }
    }
    .help-tips{
        margin-left: 5px;
        font-weight: normal;
    }

}


.table-list-border{
    width:100%;
    border:1px solid #ced3d9;
    word-wrap:break-word;
    table-layout: fixed;
    background:#fff;
    th{
        padding:9px 10px;
        background: #f5f7fa;
        color: #222;
        font-weight: bold;
        border: 1px solid #ced3d9;
    }
    td{
        padding:9px 10px;
        border: 1px solid #dae0e6;
        word-break: break-word;
    }
    tr:hover {
        background: #fafbfc;
    }
}



.opt-disabled{
    color: #888!important;
    cursor: default!important;
    &:hover{
        text-decoration: none!important;
    }
    a{
        color: #888!important;
        cursor: default!important;
        &:hover{
            text-decoration: none!important;
        }
    }
}


.table-special{
    .th,.td{
        display: inline-block;
    }
    .th{
        float: left;
        margin-right: 5px;
    }
    .td{
        display: block;
        overflow: hidden;
    }
    .edit{
        padding: 0;
        em{
            color:#FF0000;
        }
        table{
            width: 100%;
            td,th{
                border: 0;
                border-bottom: 1px solid #ebebeb;
            }
            tr:last-child{
                td,th{
                    border: 0;
                }
            }
        }
    }
    .total{
        background: #fff;
        padding: 20px;
        text-align: right;
    }
    .inline-block{
        margin: 0 10px;
    }
}





.result-pro-content{
    max-height: 340px;
    overflow-y: auto;
    border-bottom: 1px solid #dae0e6;
    .table-border{
        border-top: 0px;
        margin-bottom: -1px;
        tr:first-child{
            td,th{
                border-top: 0;
            }
        }
    }
}

.result-list-content{
    max-height: 355px;
    overflow-y: auto;
    border-bottom: 1px solid #dae0e6;
    .table-border{
        margin-bottom: -1px;
        border-top: 0px;
        tr:first-child{
            td,th{
                border-top: 0;
            }
        }
    }
}

// table  input
.input-text-td {
    //padding-right: 22px !important;
    .input-text-wrap {
        padding-right: 12px;
        margin: -4px 0;
        &.choice {
            display: block;
        }
    }
    .input-text {
        width: 100% !important;
    }
    select {
        width: 100%;
        height: 26px;
        line-height: 26px;
        margin: -4px 0;
        padding: 2px 5px;
    }
}




// 组件 排序
.M-table-sort-by {
    cursor: pointer;
    &:hover {
        background-color: #edf0f5;
    }

    .sort-wrap {
        padding-right: 15px;
        background: url(/common/img/icon/icon-sort.png) right center no-repeat;
    }
    &.sort-az {
        .sort-wrap {
            background-image: url(/common/img/icon/icon-sort-az.png);
        }
    }
    &.sort-za {
        .sort-wrap {
            background-image: url(/common/img/icon/icon-sort-za.png);
        }
    }
}

.table-empty {
    text-align: center;
    padding: 40px 20px !important;
    p {
        margin: 0 0 20px;
    }
}
.table-base .act-select,
.table-border .act-select,
.table-none .act-select,
.table-list-border .act-select {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    color: #246bb3;
    .icon {
        color: #888;
    }
    .option {
        position: absolute;
        z-index: 1;
        background: #fff;
        border: 1px solid #b8c2cc;;
        display: none;
        min-width: 100%;
        left: -11px;
        li a {
            display: block;
            padding: 0 10px;
            height: 26px;
            line-height: 26px;
            &:hover {
                background: #f5f7fa;
                text-decoration: none;
            }
        }
    }
    &.hover,
    &:hover {
        color: #f60;
        .option {
            display: block;
        }
    }
}