/*from http://tympanus.net/codrops/2013/10/23/animations-for-thumbnail-grids/ */

/* Center flip */
.center-flip .s-show img{
    opacity: 1;
    /*-webkit-animation: flipIn 0.8s ease-in forwards;*/
    animation: flipIn 0.8s ease-in forwards;
    z-index:1;

}
.center-flip .s-init{
    display: none;
}
.center-flip .s-hide img{
    /*-webkit-animation: flipOut 0.8s ease-in forwards;*/
    animation: flipOut 0.8s ease-in forwards;
}
.center-flip li {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.center-flip li img{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes flipOut {
    50% { opacity: 0; -webkit-transform: rotateY(90deg); }
    100% { opacity: 0; -webkit-transform: rotateY(90deg); }
}

@keyframes flipOut {
    50% { opacity: 0; transform: rotateY(90deg); }
    100% { opacity: 0; transform: rotateY(90deg); }
}

@-webkit-keyframes flipIn {
    0% { opacity: 0; -webkit-transform: rotateY(-90deg); }
    50% { opacity: 0; -webkit-transform: rotateY(-90deg); }
    75% { visibility: visible; opacity: 1; -webkit-transform: rotateY(15deg); -webkit-animation-timing-function: ease-in; }
    100% { visibility: visible; opacity: 1; -webkit-transform: rotateY(0deg); }
}

@keyframes flipIn {
    0% { opacity: 0; transform: rotateY(-90deg); }
    50% { opacity: 0; transform: rotateY(-90deg); }
    75% { visibility: visible; opacity: 1; transform: rotateY(15deg); animation-timing-function: ease-in; }
    100% { visibility: visible; opacity: 1; transform: rotateY(0deg); }
}


/* Bring back */
/* From https://github.com/hakimel/kontext by Hakim El Hattab, http://hakim.se */
.bring-back li {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.bring-back li img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bring-back .s-init{
    visibility: hidden;
}

.bring-back .s-hide{
    z-index:0;
}
.bring-back .s-hide img {
    -webkit-animation: hideLeft 0.8s forwards;
    animation: hideLeft 0.8s forwards;
}
.bring-back .s-show{
    z-index: 1;
}
.bring-back .s-show img{
    -webkit-animation: showRight 0.8s forwards;
    animation: showRight 0.8s forwards;
}

@-webkit-keyframes hideLeft {
    0% { -webkit-transform: translateZ(0px); }
    40% { -webkit-transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }
    100% { opacity: 1; -webkit-transform: translateZ(-400px); }
}

@keyframes hideLeft {
    0% { transform: translateZ(0px); }
    40% { transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }
    100% { transform: translateZ(-400px); }
}

@-webkit-keyframes showRight {
    0% { -webkit-transform: translateZ(-400px); }
    40% {  z-index: -1; -webkit-transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }
    41% {  z-index: 1; }
    100% { z-index: 1; visibility: visible; -webkit-transform: translateZ(0px); }
}

@keyframes showRight {
    0% { transform: translateZ(-400px); }
    40% {  z-index: -1; transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }
    41% {  z-index: 1; }
    100% { z-index: 1; visibility: visible; transform: translateZ(0px); }
}

/* 3d flip */
.flip-3d li {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.flip-3d li img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-3d .s-init{
    opacity:0;
}

.flip-3d .s-hide img{
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-animation: rotateOutLeft 0.6s forwards;
    animation: rotateOutLeft 0.6s forwards;
}

.flip-3d .s-show img{
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: rotateInRight 0.6s ease-in forwards;
    animation: rotateInRight 0.6s ease-in forwards;
}

@-webkit-keyframes rotateOutLeft {
    100% { opacity: 0; -webkit-transform: rotateY(90deg); }
}

@keyframes rotateOutLeft {
    100% { opacity: 0; transform: rotateY(90deg); }
}

@-webkit-keyframes rotateInRight {
    0% { opacity: 0; -webkit-transform: rotateY(-90deg); }
    100% { visibility: visible; opacity: 1; -webkit-transform: rotateY(0deg); }
}

@keyframes rotateInRight {
    0% { opacity: 0; transform: rotateY(-90deg); }
    100% { visibility: visible; opacity: 1; transform: rotateY(0deg); }
}

/* Front row */
.front-row li {
    overflow: hidden;
}
.front-row .s-init{
    visibility: hidden;
}

.front-row .s-hide img{
    -webkit-animation: moveToBack 0.8s forwards;
    animation: moveToBack 0.8s forwards;
}

.front-row .s-hide{
    z-index: 0;
}

.front-row .s-show img {
    -webkit-animation: moveToFront 0.8s forwards;
    animation: moveToFront 0.8s forwards;
}

.front-row .s-show{
    z-index:1;
}

@keyframes moveToBack {
    100% { transform: translateX(-60%) scale(.8); }
}

@-webkit-keyframes moveToBack {
    100% { -webkit-transform: translateX(-60%) scale(.8); }
}

@-webkit-keyframes moveToFront {
    0% { -webkit-transform: translateX(100%) scale(.8); }
    100% { visibility: visible; opacity: 1; -webkit-transform: translateX(0%) scale(1); }
}

@keyframes moveToFront {
    0% { transform: translateX(100%) scale(.8); }
    100% { visibility: visible; opacity: 1; transform: translateX(0%) scale(1); }
}

/* Fall and rotate */
.fall-rotate .s-init{
    display: none;
}
.fall-rotate .s-hide img{
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: fallRotate 0.6s ease-in forwards;
    animation: fallRotate 0.6s ease-in forwards;
}

.fall-rotate .s-hide{
    z-index: 1;
}
.fall-rotate .s-show{
    z-index: 0;
}

@-webkit-keyframes fallRotate {
    0% { -webkit-transform: translateY(0%) rotate(0deg); -webkit-animation-timing-function: ease-in;}
    40% { -webkit-transform: translateY(0%) rotate(20deg); -webkit-animation-timing-function: ease-out;}
    60% { -webkit-transform: translateY(0%) rotate(15deg); opacity: 1;}
    100% { -webkit-transform: translateY(150%) rotate(17deg); opacity: 0; }
}

@keyframes fallRotate {
    0% { transform: translateY(0%) rotate(0deg); animation-timing-function: ease-in;}
    40% { transform: translateY(0%) rotate(20deg); animation-timing-function: ease-out;}
    60% { transform: translateY(0%) rotate(15deg); opacity: 1;}
    100% { transform: translateY(150%) rotate(17deg); opacity: 0; }
}


/*qf  dizzy rotate*/

.dizzy-rotate .s-init{
    visibility: hidden;
}
.dizzy-rotate .s-hide img{
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dizzyHide 0.6s ease-in forwards;
    animation: dizzyHide 0.6s ease-in forwards;
}

.dizzy-rotate .s-show img{
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dizzyShow 0.6s ease-in forwards;
    animation: dizzyShow 0.6s ease-in forwards;
}


@-webkit-keyframes dizzyShow {
     0% { -webkit-transform: scale(0);opacity: 0; }
     50%{-webkit-transform: rotate(180deg) scale(0);opacity: 1;}
     100% { visibility: visible; -webkit-transform: rotate(360deg) scale(1)}
 }
@keyframes dizzyShow {
    0% {transform: scale(0);opacity: 0; }
    50%{transform: rotate(180deg) scale(0);opacity: 1;}
    100% { visibility: visible; transform: rotate(360deg) scale(1)}
}
@-webkit-keyframes dizzyHide {
    0% { -webkit-transform:rotate(0deg) scale(1); }
    50%{-webkit-transform: rotate(180deg) scale(0);opacity: 0}
    100% { visibility: hidden; opacity: 0; }
}
@keyframes dizzyHide {
    0% { transform:rotate(0deg) scale(1); }
    50%{ transform: rotate(180deg) scale(0);opacity: 0}
    100% { visibility: hidden; opacity: 0; }
}

/*qf blur*/

.cut-2-in .s-init{
    display: none;
}
.cut-2-in .s-show img{
    -webkit-animation: blurIn 0.8s ease-in forwards;
    animation: blurIn 0.8s ease-in forwards;
}

.cut-2-in .s-hide img{
    -webkit-animation: blurOut 0.8s ease-in forwards;
    animation: blurOut 0.8s ease-in forwards;
}

@-webkit-keyframes blurIn {
    0% {-webkit-filter:blur(6px); opacity: 0; }
    50%{-webkit-filter:blur(6px);opacity: 1;}
    100% { -webkit-filter:blur(0);visibility: visible;}
}
@keyframes blurIn {
    0% {-webkit-filter:blur(6px);filter:blur(6px); opacity: 0; }
    50%{-webkit-filter:blur(6px);filter:blur(6px);opacity: 1;}
    100% {-webkit-filter:blur(0);filter:blur(0);visibility: visible;}
}
@keyframes blurOut {
    0% { -webkit-filter:blur(0);filter:blur(0);opacity: 1}
    50%{-webkit-filter:blur(6px);filter:blur(6px);opacity: 0;}
    100% { visibility: hidden;opacity: 0; }
}
@-webkit-keyframes blurOut {
    0% { -webkit-filter:blur(0);opacity: 1}
    50%{-webkit-filter:blur(6px);opacity: 0;}
    100% { visibility: hidden;opacity: 0; }
}

